# Drop duplicates
- Used to remove duplicates n 2 or more Columns

In [1]:
import pandas as pd

In [3]:
df_laptops = pd.read_csv('laptop_price.csv')

In [4]:
df_laptops.head(3)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00

In [8]:
# drop duplicate 
df_laptops.drop_duplicates(['Company'])[['Company','Price_euros']].value_counts('Company')

Company
Acer         1
Apple        1
Asus         1
Chuwi        1
Dell         1
Fujitsu      1
Google       1
HP           1
Huawei       1
LG           1
Lenovo       1
MSI          1
Mediacom     1
Microsoft    1
Razer        1
Samsung      1
Toshiba      1
Vero         1
Xiaomi       1
Name: count, dtype: int64

In [23]:
df_laptops.sort_values(['Company','Inches'])

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
319,324,Acer,TravelMate B,Notebook,11.6,1366x768,Intel Pentium Quad Core N3710 1.6GHz,4GB,128GB Flash Storage,Intel HD Graphics 405,Windows 10,1.4kg,485.00
461,468,Acer,TravelMate B,Netbook,11.6,1366x768,Intel Celeron Dual Core N3060 1.6GHz,4GB,128GB SSD,Intel HD Graphics 400,Windows 10,1.4kg,435.00
560,567,Acer,Spin SP111-31,2 in 1 Convertible,11.6,IPS Panel Full HD / Touchscreen 1920x1080,Intel Celeron Dual Core N3350 2.0GHz,4GB,32GB Flash Storage,Intel HD Graphics 500,Windows 10,1.25kg,349.00
619,626,Acer,CB5-132T-C9KK (N3160/4GB/32GB/Chrome,2 in 1 Convertible,11.6,IPS Panel Touchscreen 1366x768,Intel Celeron Quad Core N3160 1.6GHz,4GB,32GB Flash Storage,Intel HD Graphics 400,Chrome OS,1.25kg,379.00
695,703,Acer,TravelMate B117-M,Netbook,11.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,32GB Flash Storage,Intel HD Graphics,Windows 10,1.4kg,269.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1041,1055,Vero,V142 (X5-Z8350/2GB/32GB/W10),Notebook,14.0,1366x768,Intel Atom X5-Z8350 1.44GHz,2GB,32GB Flash Storage,Intel HD Graphics 400,Windows 10,1.45kg,210.80
192,196,Xiaomi,Mi Notebook,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Nvidia GeForce MX150,No OS,1.3kg,999.90
877,888,Xiaomi,Mi Notebook,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core i5 6200U 2.3GHz,8GB,256GB SSD,Nvidia GeForce 940MX,Windows 10,1.28kg,935.00
184,188,Xiaomi,Mi Notebook,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i5 8250U 1.6GHz,8GB,256GB SSD,Nvidia GeForce MX150,No OS,1.95kg,1199.00
514,521,Xiaomi,Mi Notebook,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,16GB,256GB SSD,Nvidia GeForce MX150,No OS,1.95kg,1399.95

In [25]:
# cheapest : keep = first
# df_laptops.drop_duplicates(['Company'],keep = first )

In [14]:
df_laptops.drop_duplicates(['Company'] , keep = 'last')[['Company','Inches']]

        Company  Price_euros
214      Huawei      1499.00
483       Chuwi       248.90
670   Microsoft      1867.85
718    Mediacom       265.00
762      Google      1559.00
877      Xiaomi       935.00
909          LG      1899.00
983     Fujitsu       649.00
1118    Toshiba      2226.00
1120       Vero       196.00
1191    Samsung       659.00
1231      Razer      3499.00
1234      Apple       959.00
1259        MSI      1229.00
1291       Acer       289.00
1295       Dell       805.99
1300     Lenovo       229.00
1301         HP       764.00
1302       Asus       369.00

## Excercise 1
- Task: Find the biggest and smallest screen size in laptops of each company using the sort_values() and duplicated() methods (keep "first", "last" and False)

In [15]:
import pandas as pd

In [16]:
df_laptops = pd.read_csv('laptop_price.csv')

In [18]:
df_laptops.sort_values(['Company','Inches']).value_counts(['Company','Inches'])

Company  Inches
Dell     15.6      187
Lenovo   15.6      155
HP       15.6      130
Asus     15.6       74
Lenovo   14.0       74
                  ...
Samsung  11.6        1
         15.6        1
         12.3        1
Toshiba  12.5        1
Vero     13.3        1
Name: count, Length: 70, dtype: int64

In [29]:
df_laptops.drop_duplicates(['Company','Inches'],keep = 'first')[['Company','Inches']]

      Company  Inches
0       Apple    13.3
2          HP    15.6
3       Apple    15.4
5        Acer    15.6
8        Asus    14.0
...       ...     ...
963   Toshiba    12.5
1120     Vero    13.3
1191  Samsung    12.3
1224     Dell    15.0
1234    Apple    11.6

[70 rows x 2 columns]

In [30]:
df_laptops.drop_duplicates(['Company','Inches'],keep = 'last')[['Company','Inches']]

     Company  Inches
17     Apple    15.4
177      MSI    18.4
214   Huawei    13.0
270    Apple    13.3
421    Chuwi    12.3
...      ...     ...
1296      HP    11.6
1299  Lenovo    13.3
1300  Lenovo    14.0
1301      HP    15.6
1302    Asus    15.6

[70 rows x 2 columns]