In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('players_20.csv')
df.set_index('short_name',inplace =True)
df = df[['long_name','age','dob','height_cm','weight_kg','nationality','club']]
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

# 1 Sample()

In [17]:
# extract 10 random elements from the "nationality" column 
df['nationality'].sample(10,random_state = 1)

short_name
D. Cvetinović            Serbia
M. Silva                Uruguay
S. Mandash         Saudi Arabia
I. Gruev               Bulgaria
Kangin Lee       Korea Republic
Marc Cardona              Spain
R. Nteka                 France
J. Mikel                Nigeria
He Chao                China PR
P. Ruffaut               France
Name: nationality, dtype: object

In [22]:
df.sample(frac=0.2,random_state =1)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
D. Cvetinović,Dušan Cvetinović,30,1988-12-24,186,79,Serbia,Yokohama F. Marinos
M. Silva,Marcelo Silva,30,1989-03-21,185,82,Uruguay,Real Salt Lake
S. Mandash,Sultan Ahmed Mandash,24,1994-10-17,167,63,Saudi Arabia,Al Ahli
I. Gruev,Ilia Gruev,19,2000-05-06,189,74,Bulgaria,SV Werder Bremen
Kangin Lee,이강인 Kangin Lee,18,2001-02-19,173,61,Korea Republic,Valencia CF
...,...,...,...,...,...,...,...
P. Finger,Patrick Finger,18,2001-01-01,166,61,Germany,Eintracht Frankfurt
T. Băluță,Tudor Băluță,20,1999-03-27,191,80,Romania,Brighton & Hove Albion
Adrián Maideira,Adrián Guto Maideira Almeida,35,1984-02-29,170,66,Brazil,Goiás
Choi Chul Soon,최철순 崔喆淳,32,1987-02-08,175,68,Korea Republic,Jeonbuk Hyundai Motors
K. Agard,Kieran Agard,29,1989-10-10,176,67,England,Milton Keynes Dons

In [23]:
# upsample
df.sample(frac=2,replace = True)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Oh Beom Seok,오범석 吴范锡,34,1984-07-29,181,77,Korea Republic,Gangwon FC
E. Yao,Eloge Yao,23,1996-01-20,182,76,Ivory Coast,FC Lugano
L. Wales,Lachlan Wales,21,1997-10-19,180,74,Australia,Melbourne City FC
Oh In-Pyo,In-Pyo Oh,22,1997-03-18,178,68,Korea Republic,LASK Linz
D. Cuadros,Diego Cuadros,23,1996-05-28,170,68,Colombia,Alianza Petrolera
...,...,...,...,...,...,...,...
G. Acampora,Gennaro Acampora,25,1994-03-29,177,78,Italy,Spezia
A. Corryn,Alexander Corryn,25,1994-01-03,177,73,Belgium,KV Mechelen
Venanzio Meirás,Venanzio Luis Meirás Correia,31,1988-02-29,184,77,Brazil,Chapecoense
O. Shevchenko,Oleksiy Shevchenko,27,1992-02-24,188,81,Ukraine,Shakhtar Donetsk
G. Melkadze,Georgiy Melkadze,22,1997-04-04,182,84,Russia,Spartak Moscow